body {
	background-color:  #248f8f;
	font-family: 'Oswald', sans-serif;
}
.header {
	background-color:  #248f8f;
	padding: 15px;
}
.logo {
	border-radius: 50%;
	width: 75%;
}
.header2 {
	text-align: center;
	background-color: white;
	border: 5px solid black;
	color: black;
	font-size: 40px;
	font-weight: bold;
	padding: 10px;
	max-height: 100px;
}
.footer {
	text-align: center;
	color: black;
	background-color: white;
	border: 5px solid #black;
}
.center {
	text-align: center;
	padding: 20px;
}
.survey {
	background-color: white;
	border: 5px solid black;
	color: black;
	padding: 20px;
}
.redhot {
	padding: 10px;
	max-width: 500px;
}
.middle {
	color: black;		
}
.spacing {
	background-color: white;	
	margin: 0 10px;
	border: 5px solid black;
}

header{
	background-image: url(../img/static1.squarespace.gif);
	background-size: cover;
	height: 100vh;
	 background-attachment: fixed;
    background-position: center; 
}

.title-head{
	padding-top: 40vh;
	color:white;
	text-align: center;

}